header {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color:antiquewhite ;
    
}

body {
    background-color: lightblue;
    margin: 100px;
    padding: 10px;
    border: 10px green;
    border-style: groove;
    font-family: inherit;
    text-align: center;
}



img {
    width: 400px;
}

nav li {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    margin-right: 30px;


}

footer {
    text-align: center;
    margin: 100px;
    background-color: ;
}